<div class="header">
  <span><a href="<%= root_path %>" class="back-arrow">←</a></span>
  <span>CATEGORIES</span>
  <span><a href="<%= categories_path %>" class="back-arrow">&#128269;</a></span>
</div>
<div>
  <span>Gift credit</span>
  <span>$ 110.25</span>
</div>
<hr>
<ul>
  <% @categories.each do |category| %>
    <%= link_to category.name, category %>
    <li>
      qweqweqwe
    </li>
  <% end %>
</ul>
